<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Cloras_Magecustomers::customers" title="Customer Grid" module="Cloras_Magecustomers" sortOrder="30" parent="Cloras_Mageorders::manager" action="cloras/customers" resource="Cloras_Magecustomers::customers"/>
    </menu>
</config>
