{{template config_path="design/email/header_template"}}

<p>First name: {{var data.f_name}}<br></p>
<p>Last name: {{var data.l_name}}<br></p>
<p>City: {{var data.city}}<br></p>
<p>State: {{var data.state}}<br></p>
<p>Zip code: {{var data.zip_code}}<br></p>
<p>E-mail: {{var data.email}}<br></p>
<p>Phone: {{var data.telephone}}<br></p>
<p>HOW DID YOU HEAR ABOUT JSI CABINETRY?:<br> {{var data.how_did_you_hear_us}}<br></p>
<p>COMMENTS / QUESTIONS:<br> {{var data.comment}}</p>

{{template config_path="design/email/footer_template"}}